.container-papa {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  width: 100%;
}

.cartas{
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.container-mapa{  
  display: flex;
  justify-content: center;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  background: black;
  
  
}

.md-card {
  width: auto;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
  grid-column: 1;
}